.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# Extra files to ignore
view/ask-view/node_modules/**
view/ask-view/src/**
view/ask-view/public/*.map
view/ask-view/public/favicon.png
view/ask-view/*.json
view/ask-view/**.md
view/ask-view/rollup.config.js
tsconfig.json

view/search-view/node_modules/**
view/search-view/src/**
view/search-view/public/*.map
view/search-view/public/favicon.png
view/search-view/*.json
view/search-view/**.md
view/search-view/rollup.config.js
tsconfig.json

view/sidebar-view/node_modules/**
view/sidebar-view/src/**
view/sidebar-view/public/*.map
view/sidebar-view/public/favicon.png
view/sidebar-view/*.json
view/sidebar-view/**.md
view/sidebar-view/rollup.config.js
tsconfig.json
